<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <%= render "shared/header" %>
  </header>

  <body>
    <div id="home">
      <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
           <h1 class="cover-heading">BOOK  MEMO</h1>
         </main>
      </div>
    </div>
  </body>
</html>
