<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <%= render "shared/header" %>
  </header>

  <body>
    <div id="home">
      <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
           <h1 class="cover-heading">BOOK  MEMO</h1>
           <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
         </main>
      </div>
    </div>
  </body>

  <footer>
    <%= render "shared/footer" %>
  </footer>
</html>
