  <td class='col-xs-2 text-right'><%= comment.posted_at.strftime("%Y/%m/%d") %></td>
  <td class='col-xs-8 text-left'><%= comment.body %></td>
  <td class='col-xs-2'><%= link_to "delete", "#{comment.book_id}/comments/#{comment.id}",method: :delete %></td>
