<footer class="py-4 bg-dark text-white">
  <div class="container text-center">
    <ul class="nav justify-content-center mb-3">
      <li class="nev-item">
        <a class="nav-link footer-text" href="#">TOP</a>
      </li>
      <li class="nev-item">
        <a class="nav-link footer-text" href="#">ABOUT</a>
      </li>
      <li class="nev-item">
        <a class="nav-link footer-text" href="#">BOOKS</a>
      </li>
      <li class="nev-item">
        <a class="nav-link footer-text" href="#">COMMENTS</a>
      </li>
      <li class="nev-item">
        <a class="nav-link footer-text" href="#">CONTACT</a>
      </li>
    </ul>
    <p><small>Copyright &copy;2019 BOOKMEMO, All Rights Reserved.</small></p>
  </div>
</footer>
