<div class="header_box">
  <%= image_tag "book_shelf.jpg", class: "header_bg_img", alt: "" %>
  <div class="header_ttl text-center">
    <h1 class="header_ttl_ja">編集</h1>
    <p class="header_ttl_en">EDIT</p>
  </div>
</div>

<div class="text-center">
  <%= render 'form', book: @book %>

  <%= link_to 'Show', @book %> |
  <%= link_to 'Back', books_path %>
</div>
