<ul>
  <% if user_signed_in? %>

    <li><%= current_user.name %></li>
    <li><%= current_user.nickname %></li>
    <li><%= current_user.image %></li>
    <li><%= current_user.location %></li>

  <% end %>
</ul>
