<div class="header_box">
  <%= image_tag "book_shelf.jpg", class: "header_bg_img", alt: "" %>
  <div class="header_ttl text-center">
    <h1 class="header_ttl_ja">BOOKMEMOについて</h1>
    <p class="header_ttl_en">ABOUT</p>
  </div>
</div>

<div class="container marketing text-center">
  <div class="">
    <h1 class="about_ttl_ja">読んだ本を記録</h1>
    <p class="about_ttl_en">RECORD</p>
    <div class="row">
      <div class="img_box col-lg-6">
        <%= image_tag "aikon.png", size: "170x30", alt: "" %>
      </div>
      <div class="txt_box col-lg-6">
        <p class="about-caption">
          あなたは今まで読んだ本の種類や内容を覚えていますか？
          「BOOKMEMO」はあなたが読んだ本を写真付きで登録することができます。
          せっかく読んだ本は記録し、自分だけのお気に入りの本だけを集めた本棚を作りましょう！
        </p>
      </div>
    </div>
  </div>

  <div class="">
    <p class="about_ttl_en">REMIND</p>
    <h1 class="about_ttl_ja">お気に入りの文章をリマインド</h1>
    <div class="row">
      <div class="img_box col-lg-6">
        <%= image_tag "aikon.png", size: "170x30", alt: "" %>
      </div>
      <div class="txt_box col-lg-6">
        <p class="about-caption">
          本を読んでいると度々「忘れたくない文章」に出会うことがあります。
          「BOOKMEMO」は登録した本それぞれに文章を記録することができるとともに、
          記録した文章を定期的（１日後、３日後、１週間後、１ヶ月後）にリマインドします。
        </p>
      </div>
    </div>
  </div>

  <div class="">
    <p class="about_ttl_en">CONNECT</p>
    <h1 class="about_ttl_ja">人とつながる</h1>
    <div class="row">
      <div class="img_box col-lg-6">
        <%= image_tag "aikon.png", size: "170x30", alt: "" %>
      </div>
      <div class="txt_box col-lg-6">
        <p class="about-caption">
          「BOOKMEMO」はTwitterアカウントと連携することで、登録した本をツイートして発信
          することができます。
          自分の好きな本や、人の好きな本をどんどん共有しましょう！
        </p>
      </div>
    </div>
  </div>
</div>
