<section class="jumbotron text-center about-top">
  <div class="container">
    <p class="lead about-text">本の学びを忘れないように・・・</p>
  </div>
</section>

<div class="container marketing text-center">
  <div class="row">
      <div class="col-lg-4">
        <h2>本を登録</h2>
        <div class="under_bar"></div>
        <p class="about-caption">あなたは今まで読んだ本を覚えていますか？BOOKMEMO はあなたが読んだ本を写真付きで登録することができます。せっかく読んだ本は記録して、自分だけのお気に入りの本棚を作りましょう。</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>文章をリマインド</h2>
        <div class="under_bar"></div>
        <p class="about-caption">本を読んでいると「忘れたくない文章」に出会うことがあります。BOOKMEMO は本ごとに文章を記録することができるとともに、記録した文章を定期的（１日後、３日後、１週間後、１ヶ月後）にリマインドします。</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>人とつながる</h2>
        <div class="under_bar"></div>
        <p class="about-caption">「あの人はどのような本を読んでいるんだろう？」と思う時はありませんか？BOOKMEMO の本棚は連携したTwitterアカウントで公開できるため、同じような感性を持つ人と本棚を共有することができます。</p>
      </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
