// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media screen and (max-width: 768px) {
  #comment_body {
    border: 1px solid #a9a9a9;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .comment_date {
    border: 1px solid #a9a9a9;
  }
}

@media screen and (max-width: 768px) {
  .sp-heading {
    font-size: 1.5rem;
  }
}

.comments-table {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .comments-table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;
  }
}

.comments-table td {
  height: 50px;
  word-wrap: break-word;
}
@media screen and (max-width: 768px) {
  height: 30px;
}

.comments-table .zero-td {
  width: 5%;
}
@media screen and (max-width: 768px) {
  .comments-table .zero-td {
    width: 10%;
  }
}

.comments-table .first-td {
  width: 10%;
}
@media screen and (max-width: 768px) {
  .comments-table .first-td {
    width: 25%;
  }
}

.comments-table .second-td {
  width: 70%;
}
@media screen and (max-width: 768px) {
  .comments-table .second-td {
    max-width: 30%;
  }
}

.comments-table .third-td {
  width: 15%;
}
@media screen and (max-width: 768px) {
  .comments-table .third-td {
    width: 35%;
  }
}

.comment_submit_btn {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  color: #fff;
  background-color: #333;
  padding: 5px 10px;
  border-radius: 10px;
}
