html {
  font-size: 62.5%;
}

#home {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  background-image: url(topbg.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

html,
body {
  height: 100%;
}

body {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.top_ttl {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.top_ttl h1 {
  font-size: 4rem;
}
@media screen and (max-width: 768px) {
  .top_ttl h1 {
    font-size: 3rem;
  }
}

.top-text {
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .top-text {
    font-size: 0.8rem;
  }
}

.top_about_link {
  color: #fff;
  display: block;
}
.top_about_link:hover {
  color: #fff;
}

.top_list {
  margin-top: 80px;
  padding-inline-start: 0;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .top_list {
    margin-top: 50px;
  }
}

.top_list li {
  display: inline-block;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1.5rem;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .top_list li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.top_list li:last-of-type {
  margin-right: 0;
}

.btn-social-circle {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFF;
  width: 100px;
  height: 100px;
  line-height: 30px;
  margin-top: 80px;
  padding: 5px;
  font-size: 5rem;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  box-shadow: inset 0 2px 0px rgba(255, 255, 255, 0.25), inset 0 -2px 0px rgba(0, 0, 0, 0.18);
  transition: .2s;
}
.btn-social-circle .fab {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0;
  transform: translateY(-50%);
  line-height: 30px;
}
.btn-social-circle:hover {
  box-shadow: none;
  color: #fff;
  animation: hurueru .3s  infinite;
}

@keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

.btn-social-circle--twitter {
  background: #1da1f3;
  border: solid 5px #1da1f3;
}

.login_icon_txt {
  margin-top: 8px;
}
