#home {
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  background-image: url(topbg.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

html,
body {
  height: 100%;
}

body {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}

.cover-heading {
  margin-top: 18%;
  margin-left: 20%;
  text-align: left;
}
