<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <%= render "shared/header" %>
  </header>

  <body>
    <div class="containner">
      <%= yield %>
    </div>
  </body>
</html>
